.notice-show{
  font-size: 12px;
}
.show{
  font-size: 1.2em;
}
.notice-list .list-item{
  margin-bottom: 10px;
}
.notice-button{
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
}
.notice-button:hover{
  color: #ffc343
}
.hidden{
  display: none;
}
.notice-list .notice-change textarea{
  width: 80%;
}
.role-list{
  display: flex;
}
.role-list li{
  flex: 1;
  display: inline-block
}